PORT=3000
DATABASE_URL=postgres://grafana:grafana@localhost:5432/grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_DEFAULT_INSTANCE_NAME=my-instance
GF_LOG_MODE=console
# GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-simple-json-datasource
